:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

body {
  padding: 0px;
  margin: 0px;
}



/* Typography */

/* Headlines */
h1 {
  font-weight: 700;
  font-size: 4.8rem;
  color: #FFF;
}

h2 {
  font-size: 2.8rem;
  font-weight: 700;
}

.h2-black-underline {
  color: #1A1A1A;
  text-decoration: underline;
  text-decoration-color: #00B172;
}

.h2-white-underline{
  color: #FFF;
  text-decoration: underline;
}

.h3-green-centered {
  font-size: 2rem;
  color: #00B172;
}

h4 {
  font-size: 2rem;
}

.h4-white {
  color: #FFF;
}

/* Paragraphs */
.p-big {
  font-size: 2rem;
}

.p-regular {
  font-size: 1.6rem;
}

.p-small {
  font-size: 1.2rem;
}

.p-white {
  color: #FFF;
}

.p-centered {
  text-align: center;
}

/* Links */
a, a:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #1A1A1A;
}



/* Header */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.img-logo {
  height: 40px;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navigation > li {
  padding: 0px 12px 0px 12px;
}

/* Layout Rules */

.flex-column-center-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.layout-row-top {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: top; */
}


/* Sections */

/* Section 1 */
#intro {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: 400px;
  padding: 120px 80px 0px 80px;
}

/* Section 2 */
#user-benefit-1 {
  padding: 24px 0px 24px 0px;
}

.feature-box {
  width: 25%;
}

.feature-icon {
  height: 60px
}


/* Section 3 */
#user-benefit-2 {
  position: relative;
  /* background-image: url('images/spotify-icon-white.png');
  background-position: center; */
  background-color: #00B172;
  height: auto;
  margin: 24px;
  padding: 48px 48px 48px 48px;
}

.text-box-left {
  height: auto;
  width: 50%;
}

.text-section {
  width: 75%;
}

.image-container {
  align-items: right;
  height: auto;
  width: 50%;
}

.centered-logo {
  position: absolute;
  height: 120px;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  top: 50%;
  margin-top: -60px;
}

.screenshot {
  float: right;
  width: 50%;
}
